 .App{
  height: auto;
  width: 100vw;
  }
 .App h1{
    text-align: center;
 }
 .weldiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 50px;
  background-color: #9af082;
 }
 .welcome{
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
 }
 .backdrop_container{
  height: auto;
  width: 100vw;
   display: flex;
  justify-content: center;
  align-items: center;
 }
 .popular-movies{
   height: auto;
   width: 30%;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 @media only screen and (max-width: 600px){
   .popular-movies{
      height: auto;
      width: 90%;
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

}